<div class="row">
  <div class="col-xs-12">
    <footer class="small">
      <hr>
      <ul class="list-inline">
        <li><a href="https://github.com/Zankoku-Okuno/zankoku-okuno.github.io/">Source Code</a></li>
        <li><a href="http://jaspervdj.be/hakyll/">Hakyll</a></li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        <li class="pull-right">© 2014 Zankoku Okuno</li>
      </ul>
      <!-- technologies, hosting, link to repo -->
      <!-- this might be a good place for a horizontal list -->
    </footer>
  </div>
</div>